body{text-align: center;
    background-color: lightblue;
    margin-bottom: 100px;
}
.lists{
    list-style-type: none;
}
table{
    margin: auto;
    border: 1px solid black;
    width: 200px;
}
#recipe_1{
    padding-top: 40px;
}
h1{
    margin-top: 100px;
}
h2{
    font-family: cursive;
}
.image{
    border-style: groove;
    border-color: green;
    border-width: 8px;
    margin-bottom: 10px;
}
#navBar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
#navBar li{
    float: left;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.15em
}
#navBar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
}
#navBar li a:hover{
    background-color: teal;
}

#guess_display{
    margin-top: 100px;
    font-size: 1.3em;
}
#guess_form, #guess_status{
    margin-top: 30px;
    font-size: 1.3em;
}
